In [15]:
from kaggle.api.kaggle_api_extended import KaggleApi
import pandas as pd
import kaggle

In [31]:
api = KaggleApi()
api.authenticate()

In [32]:
api.dataset_download_file("parsapzadeh/land-mines", "Mine_Dataset.csv")

True

In [61]:
df = pd.read_csv("./Mine_Dataset.csv")

df = df.rename(columns={"V": "Voltage", "H": "High", "S": "Soil Type", "M": "Mine Type"})
df.groupby(["Mine Type"]).agg(['mean', 'median']).reset_index()

  Mine Type   Voltage                High           Soil Type
                 mean    median      mean    median      mean median
0         1  0.296463  0.296586  0.495519  0.454545  0.492958    0.4
1         2  0.721123  0.714501  0.487013  0.454545  0.508571    0.6
2         3  0.402408  0.371601  0.527548  0.545455  0.496970    0.5
3         4  0.345365  0.336858  0.506887  0.545455  0.503030    0.5
4         5  0.379598  0.362537  0.530070  0.545455  0.516923    0.6